
/* CSS Document */

.principal {
 width:832px;
 min-height:272px;
 border:1px solid #000; 
}
.section1 {
 width:491px;
 min-height:272px;
 border:1px solid #000; 
 float:left; 
}
.section2 {
 width:265px;
 min-height:272px;
 border:1px solid #000; 
 float:left; 
}
.section2 {
 width:76px;
 min-height:272px;
 border:1px solid #000; 
 float:left; 
}
.produit {
 width:491px;
 min-height:136px;
 border:1px solid #000; 
 float:left; 
}
.codebarre {
 width:491px;
 min-height:136px;
 border:1px solid #000; 
 float:left; 
}
.prix {
 width:265px;
 min-height:227px;
 border:1px solid #000; 
 float:left; 
}
.categ {
 width:265px;
 min-height:45px;
 border:1px solid #000; 
 float:left; 
}
.devise {
 width:76px;
 min-height:227px;
 border:1px solid #000; 
 float:left; 
}
.nomcat {
 width:76px;
 min-height:45px;
 border:1px solid #000; 
 float:left; 
}
