
/* CSS Document */

  table thead tr th{
    font-size:22px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    /*background-color:#EAEAEA;*/
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    vertical-align:middle;
  }
  .tableaufact {
    margin-top: 100px;
    min-height: 180px;
    
  }
  .vide {
    min-height: 100px;
    
  }
  .table {
    width:100%;
    border: 1px solid #000;
  }
  table tr td {
    border-right: 1px solid #000;
    vertical-align: middle;
  }
  table tr td .total {
    border-top: 1px solid #000;
  }

  .poste {
    font-size:22px;
    font-family:Arial;
  }

  .info {
    font-size:18px;
    font-family:Arial;
    border: 1px solid #000;
    border-radius: 10px;
    padding-left:10px;
    line-height: 30px;
  }

  .entete {
    display: inline-table;
    vertical-align: top;
   }

  .esp {
    margin-top: 40px;
    font-style:italic;
    font-weight:bold;
   }
  .mt {
    font-style:italic;
    font-weight:bold;
   }
  .esps {
    margin-top: 120px;
    font-style:italic;
    font-weight:bold;
   }


  .titrerecu {
    font-size:28px;
    font-weight:bold;
    font-family:cambria;
    font-style:italic;
  }
  .soustitrerecu {
    font-size:11px;
    font-family:cambria;
    font-weight:normal;
    font-style:normal;
  }
  .bpfrecu {
    font-size:36px;
    font-family:cambria;
    margin-top:20px;
    margin-bottom:20px;
  }
  .montant {
    font-size:32px;
    font-weight:bold;
    font-family:cambria;
    border: 1px solid #333;
    padding: 2px 2px 2px 2px;
  }
  .aposte {
    background-repeat:no-repeat;
    background-position:center;
  }
  .titrecaisse {
    font-size:28px;
    font-family:Times;
  }
  #basrecu {
    min-height: 150px;
    border-bottom: 1px dashed #000;
  }
  #recbas {
    padding-top: 80px;
  }


  .doit {
   margin-top:90px;
    width:70%;
    float:left;
    padding-left:80px;    
   margin-bottom:130px;
    font-size:18px;
  }
  .refcom {
   margin-top:90px;
    width:25%;
    float:left;  
    font-size:18px;
  }

  .codep {
    font-size:24px;
font-weight:bold;
 width:15%;
  }
  .design {
font-weight:bold;
 width:25%;
  }
  .qte {
font-weight:bold;
text-align:right;
 width:17%;
  }
  .unite {
font-weight:bold;
 width:20%;
   }
   .enlettre {
font-weight:bold;
text-align:center;
 width:23%;
   }

  .codepf {
    font-size:24px;
font-weight:bold;
 width:10%;
  }
  .designf {
font-weight:bold;
 width:20%;
text-align:center;
  }
  .qtef {
font-weight:bold;
text-align:center;
 width:17%;
  }
  .unitef {
font-weight:bold;
 width:18%;
text-align:center;
   }
   .enlettref {
font-weight:bold;
text-align:center;
 width:18%;
   }
  .pvmaf {
font-weight:bold;
 width:17%;
text-align:center;
   }

.sansl {
line-height:40px;
    font-size:18px;
}
.sansl td {
border:0px solid #fff; 
}
.tot {
margin-top:180px;
    font-size:18px;
    padding-top:50px;
}
.tot td {
border:0px solid #fff; 
}
.liv {
margin-top:253px;
padding-top:30px;
padding-left:260px;
font-size:18px;
}


.arrete {
margin-top:20px;
text-align:left;
font-size:20px;
font-style:italic;
}
  .postebl {
    font-size:20px;
   line-height:30px;
  }
  .postebl td{ 
   padding:0px;

  }
  .titrebc{
    font-size:20px;
    border: 1px solid #000;
    background-color:#CCCCCC;
    font-size:24px;
    font-weight:bold;
     width:58%;
      margin-left:400px;
      margin-top:300px;
     text-align:center;
    font-family:Arial, Helvetica, sans-serif;
   
  }
  .infosbc {
     width:65%;
     margin-left:300px;
  }
.infosbc td
{
 border:px solid #000;
 text-align:center;
  font-size:14px;
}
  .tableaubc {
    margin-top: 30px;
    
  }
  .postebc {
    font-size:16px;
    font-family:Arial;
  }
  .notes {
    font-size:16px;
    font-family:Arial;
    font-style:italic;
  }

  .refbe {
    padding-left:580px; 
    font-family:Arial;
    letter-spacing:2px;
  }
  .be {
    font-size:35px;
    width:100%;
    margin-bottom:5px;
    font-family:Arial;
    font-weight:bold;
  }
  .numbe {
    font-size:24px;
    width:50%;
    float:left;
    line-height:40px;
    font-family:Arial;
    text-align:center;
  }
  .datebe {
    font-size:24px;
    width:50%;
    float:left;
    line-height:40px;
    font-family:Arial;
    text-align:center;
  }
  .infoste{
    width:100%;
    font-size:24px;
    float:left;
    margin-top:30px;
    font-family:Arial;
    padding-left:10px;
    letter-spacing:1px;
  }

  .clientcom {
    font-size:20px;
    letter-spacing:1px;
    width:58%;
    padding-left:10px;
    float:left;
    font-weight:bold;
    margin-top:25px;
    margin-bottom:15px;
    font-family:Arial;
    padding-top:25px;
    
  }
  .expcom {
    font-size:22px;
    letter-spacing:2px;
    width:42%;
    float:left;
    font-weight:bold;
   margin-top:25px;
    margin-bottom:15px;
  }
  .codec {
    width:80%;
    float:left;
    font-family:Arial;
    font-size:24px;
  }
  .exp {
    width:100%;
    float:left;
  }

  .exp tr td {
   padding-top:10px;
   padding-bottom:10px;
   border:1px solid #000;
   text-align:center;
   font-weight:bold;
  }
  .ap3 {
   padding-top:5px;
   padding-bottom:5px;
   background-color:#CCCCCC;
   border: 1px solid #ccc; 
   border-radius: 10px;
   font-size:26px;
   width:100%;
  }
  .sp {
   padding-top:10px;
   padding-bottom:10px;
   width:100%;
  }
  .codec tr td {
   padding-top:5px;
   padding-bottom:5px;
   border:1px solid #000;
   text-align:center;
   font-weight:bold;
  }
  .visa {
   margin-top:120px;
   font-weight:bold;
   font-size:22px;
  }
  .visac {
   width:40%;
   padding-left:10px;
   float:left;
   /*border-radius: 10px;*/
   padding-bottom:150px;
   text-align:center;
   /*border:2px solid #000;*/
  }
  .visap {
   width:40%;
   float:right;
   /*border-radius: 10px;*/
   padding-bottom:150px;
   text-align:center;
   /*border:2px solid #000;*/
  }
  .facture {
    font-size:40px;
    width:100%;
    margin-bottom:5px;
    font-family:Arial;
    font-weight:bold;
  }
  .dfact {
    font-family:Arial;
    background-color:#CCCCCC;
border: 1px solid #ccc;
    letter-spacing:2px;
    font-weight:bold;
   width:30%;
  text-align:center;
    border-radius: 10px;
  margin-top:20px;
  margin-bottom:10px;
  line-height:40px;
  }
  .infofact {
   width:55%;
   float:left;
  }
  .infoclients {
   width:45%;
   float:left;
  }
  .numfact {
font-size:22px;
font-weight:bold;
  }
  .datefact {
font-size:22px;
font-weight:bold;
padding-left:25px;
  }
  .objetfact {
font-size:20px;
font-weight:bold;
font-style:italic;
margin-top:120px;
  }
  .refbon {
font-size:24px;
font-weight:bold;
line-height:40px;
letter-spacing:2px;
margin-top:25px;
  }
  .modepaie {
font-size:20px;
font-weight:bold;
letter-spacing:1px;
margin-top:20px;
  }
  .doitc {
font-size:24px;
font-weight:bold;
text-align:center;
  line-height:50px;
font-family:Arial;
background-color:#CCCCCC;
border: 1px solid #ccc;
float:left;
width:38%;
text-align:center;
    border-radius: 10px;
margin-left:68px;
margin-bottom:10px;
  }
  .cclient {
    font-size:19px;
    font-family:Arial;
    border: 1px solid #000;
    padding-left:10px;
    line-height: 25px;
     padding-top:10px;
  }
  .nomcli {
    font-size:22px;
    line-height:50px;
  }
  .codej {
font-size:20px;
font-weight:bold;
   padding-top:20px;
   padding-bottom:20px;
   padding-left:5px;
      border: 1px solid #000;
   border-radius: 10px;
  font-family:Times New Roman;
font-size:22px;
   width: 50%;
   padding: 10px;
  }
  .infopaye {
   width:50%;
   float:left;
  }
  .payecli {
   font-size:20px;
      border: 1px solid #000;
   width: 90%;
margin-bottom: 10px;
line-height:20px;
font-family:Arial;
padding-left:5px;
  }
  .codej2 {
font-size:22px;
   width: 50%;
   padding: 10px;
  }
  .infopaie {
   width:50%;
   float:left;
  }
  .reg {
font-size:28px;
text-align:center;
 font-weight:bold;
font-family:Times New Roman;
  }
  .numero {
font-size:18px;
 width:50%;
float:left;
  border:1px solid #000;
text-align:center;
font-family:Arial;
line-height:30px;

  }
  .datep {
font-size:18px;
 width:50%;
float:left;
line-height:30px;
font-family:Arial;
  border:1px solid #000;
  text-align:center;
  }
  .ent {
background-color:#CCCCCC;
  }
  .totaux {
   width:70%;
   float:left;
   margin-left:338px;
  }
  .totaux td {
   border: 1px solid #000;
   font-size:22px;
   line-height:10px;
    font-family:"Times New Roman";
    height:10px;
  }
  .visacaisse {
   font-weight:bold;
   font-size:22px;
   width:100%;
   float:left;
  }
.ap {
   background-color:#CCCCCC;
   border: 1px solid #ccc; 
   border-radius: 10px;
   width:80%;
   font-size:26px; 
}
.ap2 {
   background-color:#CCCCCC;
   border: 1px solid #ccc; 
   border-radius: 10px;
   font-size:26px; 
}
  .entetebe {
   background-color:#CCCCCC;
   border: 2px solid #000; 
   border-radius: 10px;
   width:100%;
   float:left;
  }
  .entetefact {
   background-color:#CCCCCC;
   border: 1px solid #CCC; 
   border-radius: 10px;
   width:100%;
   float:left;
   border-bottom:2px solid #000;
  }
.sansbord{
width:98%
}
.sansborde{
width:98%
}
.sansbord tr td{
border:1px solid #fff;
font-size:22px;
}
.sansborde tr td{
border:1px solid #ccc;
font-size:24px;
}
.avecbord tr td{
border:2px solid #000;
font-size:22px;
}
.trait{
min-height:2px;
background-color:#000000;
}
.totfact{
border: 2px solid #000;
}
.totfact tr td{
font-size:22px;
border: 1px solid #000;
font-family:Arial;
}
.regsansbord tr td{
border:1px solid #444;
font-size:20px;
font-weight:bold;
  font-family:Times New Roman;
letter-spacing:1px;
}
.regavecbord tr td{
border:1px solid #fff;
font-size:18px;
  font-family:Arial;
  padding:19px;
height:5px;
}

.nreg{
width:8%;
float:left;
}
.lreg{
width:45%;
float:left;
}
.dreg{
width:12%;
float:left;
}
.rreg{
width:15%;
float:left;
}
.mreg{
width:20%;
float:left;
text-align:center;
}
  .entetereg {
   background-color:#eee;
   border: 1px solid #eee; 
   border-radius: 10px;
   width:100%;
   float:left;
    height:50px;
    padding-top:2px;
    font-family:"Times New Roman";
    font-size:23px;
    font-weight:bold;
     padding-left:5px;
  }
  .visacc {
   width:30%;
   padding-left:10px;
   float:left;
   text-align:center;
font-style:italic;
  }
  .visacl {
   width:40%;
   float:right;
   text-align:center;
font-style:italic;
  }
 .divide{
border: 1px solid #000;
min-height:15px;
width:100%;
float:left;
} 
 .reglement{
font-style:italic;
font-weight:100;
  text-align:right;
width:70%;
}
  .totaux td.suppbord {
   border-left: 1px solid #fff;
  }
  .lignereg {
   width:100%;
   float:left;
   font-family:"Times New Roman";
   font-size:20px;  
   padding-left:5px;
  }
  .totalp {
   width:70%;
   float:right;
   border:1px solid #000;
   font-family:"Times New Roman";
   font-size:22px;
  }
  .totalg {
   width:75%;
   float:left;
   text-align:right;
   border-right:1px solid #000;
   padding-right:5px;
  }
  .totalgr {
   width:75%;
   float:left;
   text-align:right;
   padding-right:5px;
  }
  .totalg {
   width:75%;
   float:left;
   text-align:right;
  }
  .totald {
   width:25%;
   float:left;
   text-align:center;
  }

  .totalr {
   width:75%;
   float:left;
   text-align:right;
   font-style:italic;
   border-right:1px solid #000;
   padding-right:5px;
  }
  .blanc {
color:#fff;
  }
  .tabtotg {
   width:25%;
   float:left;
   min-height:130px;
  }
  .tabtotd {
   width:75%;
   float:right;
  }
  .tabtot {
   width:100%;
   float:left;
  text-align:right;
   margin-top:5px;
  }